<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/adminPage.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
</head>
<%- include('../header02.ejs') %>

  <body>
    <!-- header, footer 빼고 wrap -->
    <div class="orderlookup-wrap">
      <!-- 주문 진행 순서 -->
      <div class="bgc-gray">
        <!-- 상품내역 wrap-->
        <div class="product-table">
          <div class="order-progress">
            <p>회원관리</p>
          </div>
          <!--주문 상태 수치 -->
          <div class="order-status">
            <div>
              <p class="str">총회원수</p>
              <p class="num">137</p>
            </div>
            <div>
              <p class="str">관리자수</p>
              <p class="num">1</p>
            </div>
          </div>
          <!-- 상품내역 상세 표 -->
          <div class="X-delete row-all">

            <div class="one">
              <p>가입날짜</p>
            </div>
            <div class="two">
              <p>이메일</p>
            </div>
            <div class="three">
              <p>이름</p>
            </div>
            <div class="four">
              <p>권한</p>
            </div>
            <div class="five">
              <p>관리</p>
            </div>
          </div>
          <!-- 사용자가 주문한 목록 -->
          <div class="row row-all">

            <div class="order-date one">
              <!-- 주문 일자 -->
              <p>2023 - 06 - 22</p>
            </div>
            <div class="product-name two">
              <!-- 책이름 변수 -->
              <label for="book-name">i*****@gmail.com</label>
            </div>
            <!-- 주문총액 -->
            <div class="three">
              <p>김**</p>
            </div>
            <div class="four">
              <!-- 상태관리 -->
              <select name="state" id="">
                <option value='일반사용자' selected>일반사용자</option>
                <option value='관리자'>관리자</option>
              </select>
            </div>
            <div class="five">
              <button>회원정보 삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 네비바 -->
    <nav>
      <div class="adminProfileNav">
        <div class="adminPage">관리자페이지</div>
        <h1></h1>
        <ul class="list">
          <li>
            <a href="#" class="orderManagement">주문 관리</a>
          </li>
          <li>
            <a href="#" class="menberManagement">회원 관리</a>
          </li>
          <li>
            <a href="#" class="addProduct">상품 등록
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <%- include('../footer.ejs') %>
  </body>

</html>