<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 상품 등록 페이지</title>
    <!-- <link rel="stylesheet" href="../css/upload.css"></link> -->
    <link rel="stylesheet" href="../css/header.css"></link>
    <link rel="stylesheet" href="../css/footer.css"></link>
  </head>

  <body>
    <%- include ('../header02.ejs') %>
    <section class="section">
        <div class="container">
          <div class="block account-header">
            <h1 class="subtitle is-4">관리자 상품 등록</h1>
          </div>
          <div class="register-product-form-container">
            <form class="box register-product-form-box" id="registerProductForm">
              <p class="title is-5 has-text-primary">상품 등록</p>
              <div class="field">
                <label class="label" for="titleInput">상품 이름</label>
                <div class="control">
                  <input
                    class="input"
                    id="titleInput"
                    type="text"
                    placeholder="모던 자바스크립트 Deep Dive"
                    autocomplete="on"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label" for="categorySelectBox">카테고리</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="categorySelectBox">
                      <option value="">카테고리를 선택해 주세요.</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label" for="detailDescriptionInput"
                  >상품 설명</label
                >
                <div class="control">
                  <textarea
                    class="textarea"
                    id="detailDescriptionInput"
                    rows="8"
                    placeholder="제품에 대한 상세 설명을 적어 주세요."
                    autocomplete="on"
                  ></textarea>
                </div>
              </div>

              <div class="field is-fullwidth">
                <label class="label" for="imageInput">상품 사진</label>
                <div class="file has-name is-fullwidth">
                  <label class="file-label">
                    <input
                      class="file-input"
                      id="imageInput"
                      type="file"
                      name="image-file"
                      accept=".png, .jpeg, .jpg"
                    />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label"> 사진 업로드 </span>
                    </span>
                    <span class="file-name" id="fileNameSpan">
                      사진파일 (png, jpg, jpeg)
                    </span>
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label" for="inventoryInput">재고 수</label>
                <div class="control">
                  <input
                    class="input"
                    id="inventoryInput"
                    type="number"
                    placeholder="10"
                    autocomplete="on"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label" for="priceInput">가격</label>
                <div class="field">
                  <div class="control has-icons-right">
                    <input
                      class="input"
                      id="priceInput"
                      type="number"
                      placeholder="10000"
                      autocomplete="on"
                    />
                    <span class="icon is-small is-right"> 원 </span>
                  </div>
                </div>

              </div>
              <div
                class="field is-grouped is-grouped-multiline mt-3"
                id="keywordContainer"
              ></div>

              <div class="mt-5">
                <button class="button is-primary is-fullwidth" id="submitButton">
                  제품 판매하기
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
  </body>
</html>
