<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 상품 등록 페이지</title>
    <link rel="stylesheet" href="../css/upload.css"></link>
    <link rel="stylesheet" href="../css/header.css"></link>
    <link rel="stylesheet" href="../css/footer.css"></link>
  </head>

  <body>
    <%- include ('../header02.ejs') %>
    <!-- 네비바 -->
    <nav>
        <div class="adminProfileNav">
          <div class="adminPage">관리자페이지</div>
          <h1></h1>
          <ul class="list">
            <li>
              <a href="/admin/order" class="orderManagement">주문 관리</a>
            </li>
            <li>
              <a href="/admin" class="menberManagement">회원 관리</a>
            </li>
            <li>
              <a href="/admin/upload" class="addProduct">상품 등록</a>
            </li>
          </ul>
        </div>
      </nav>

    <!-- 상품 등록  -->
    <section class="section">
        <div class="container">
          <div class="block account-header">
            <h1 class="subtitle">관리자 상품 등록</h1>
          </div>
          <div class="register-product-form-container">
            <form class="box register-product-form-box" id="registerProductForm" action="/admin/upload" method="POST">
              <p class="title is-5 has-text-primary">상품 등록</p>
              <div class="field">
                <label class="label" for="productName">상품 이름</label>
                <div class="control">
                  <input
                    class="input"
                    id="productName"
                    type="text"
                    placeholder="모던 자바스크립트 Deep Dive"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label" for="category">카테고리</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="category">
                      <option value="">카테고리를 선택해 주세요.</option>
                      <option value="0" class="front-end" name="프론트엔드">프론트엔드</option>
                      <option value="1" class="back-end" name="백엔드">백엔드</option>
                      <option value="2" class="cs" name="CS지식">CS지식</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label" for="desc"
                  >상품 설명</label
                >
                <div class="control">
                  <textarea
                    class="textarea"
                    id="desc"
                    rows="8"
                    placeholder="제품에 대한 상세 설명을 적어 주세요."
                    autocomplete="on"
                  ></textarea>
                </div>
              </div>
              <div class="field has-is-fullwidth">
                <label class="label" for="imageURL">상품 사진</label>
                <div class="file-fullwidth">
                  <label class="file-label">
                    <input
                      class="file-input"
                      id="imageURL"
                      type="file"
                      name="image-file"
                      accept=".png, .jpeg, .jpg"
                    />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label"> 사진 업로드 </span>
                    </span>
                    <span class="file-name" id="fileNameSpan">
                      사진 파일 (png/jpg/jpeg)
                    </span>
                  </label>
                </div>
              </div>
              <div class="field">
                <label class="label" for="inventory">재고 수</label>
                <div class="control">
                  <input
                    class="input"
                    id="inventory"
                    type="number"
                    placeholder="10"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label" for="price">가격</label>
                <div class="subfield">
                  <div class="control has-icons-right">
                    <input
                      class="input"
                      id="price"
                      type="number"
                      placeholder="10000"
                      autocomplete="on"
                    />
                  </div>
                </div>
              </div>
              <div
                class="grouped-field"
                id="keywordContainer"
              ></div>
              <div class="button">
                <button type="submit" form="registerProductForm"  class="upload-btn" id="submitButton" onclick="upload()">
                  제품 판매하기
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
  </body>

  <script>
    const form = document.querySelector("form");
    function upload(){
        form.addEventListener('submit', (e)=>{
        e.preventDefault();

        let data = {
        productName: form.productName.value,
        category: form.category.value,
        desc: form.desc.value,
        imageURL: form.imageURL.value,
        inventory: form.inventory.value,
        price: form.price.value
        }

        axios({
        method: "post",
        url: "/admin/upload",
        data : data,
      }).then( (response) => {
        if(response.status == 200){
        console.log("success", response)
        window.location.href = "/";
    }
    }).catch(function (error) {
    if (error.response) {
      console.log(error.response.data);
      console.log(error.response.status);
      alert(`${error.response.data}`)
    } else if (error.request) {
      console.log(error.request);
    } else {
      console.log('Error', error.message);
    }
    console.log(error.config);
    });
})};
  </script>
</html>