<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/cart.css">
</head>

<body>
  <!-- 주문 진행 순서 -->
  <div class="order-progress">
    <p>장바구니</p>
    <p>></p>
    <p>장바구니</p>
    <p>></p>
    <p>주문결제</p>
    <p>></p>
    <p>주문완료</p>
  </div>
  <!-- 상품내역 -->
  <div class="product-table">
    <p>상품내역</p>
    <!-- 상품내역 상세 표 -->
    <div>
      <p>상품명</p>
    </div>
    <div>
      <p>판매가</p>
    </div>
    <div>
      <p>수량</p>
    </div>
    <div>
      <p>배송비</p>
    </div>
    <div>
      <p>결제금액</p>
    </div>

    <div class=""></div>
  </div>
</body>

</html>