<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/cart.css">
</head>
<%- include("header.ejs") %>

  <body>

    <!-- header, footer 빼고 wrap -->
    <div class="cart-wrap">
      <!-- 주문 진행 순서 -->
      <div class="bgc-gray">
        <!-- 상품내역 wrap-->
        <div class="product-table">
          <div class="order-progress">
            <p>장바구니</p>
          </div>
          <!-- 상품내역 상세 표 -->
          <!-- 누르면 전체 체크 -->
          <div class="X-delete row-all">
            <hr />
            <div class="check-box all-check">
              <input type="checkbox" value="selectAll" name="check-box" onclick="selectAll(this)">
            </div>
            <div class="one table">
              <p>상품명</p>
            </div>
            <div class="two table">
              <p>판매가</p>
            </div>
            <div class="three table">
              <p>수량</p>
            </div>
            <div class="four table">
              <p>결제금액</p>
            </div>
          </div>
          <!-- 사용자가 담은 목록 -->
          <div class="row row-all">
            <hr />
            <div class="check-box">
              <input type="checkbox" id="book-name" name="check-box">
            </div>
            <div class="product-name one">
              <div class="img">
                <!-- 이미지도 변수 -->
                <img src="https://image.aladin.co.kr/product/29281/57/cover200/k382837902_1.jpg" alt="책 임시 이미지">
              </div>
              <!-- 책이름 변수 -->
              <label for="book-name">책이름</label>
            </div>
            <div class="price two">
              <!-- 가격 변수 -->
              <p>원</p>
            </div>
            <form class="purchase-count three" action="/cart" name="purchase-amount" method="post">
              <input type="number" min="0" name="number" required>
              <!-- 서버로 전송하는 버튼 -->
              <input type="button" value="확인">
            </form>
            <div class="book-price four">
              <!-- 책 가격 변수 -->
              <p>원</p>
            </div>
          </div>
          <div class="price-wrap">
            <p class="right order-price">총 주문금액 + 총 배송비 3,000원 =</p>
            <p class="right">총 결제금액 :</p>
          </div>
        </div>
        <!-- 선택 상품 삭제하기 누르면 제품 삭제 -->
        <div class="button-wrap">
          <button class="right delete-button" onclick="deleteCheckedItems()">선택 상품 삭제하기</button>
          <!-- 선택 상품 주문하기 누르면 주문 페이지로 이동 -->
          <button class="right" onclick="">선택 상품 주문하기</button>
        </div>
      </div>
    </div>
    <script>
      //체크박스
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');

      function selectAll(selectAll) {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = selectAll.checked;
        });
      }

      // 선택 상품 삭제
      function deleteCheckedItems() {
        checkboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            const parentDiv = checkbox.parentElement.parentElement;
            if (!parentDiv.classList.contains('X-delete')) {
              parentDiv.remove();
            }
          }
        });
      }

      //이벤트 리스너 등록
      document.addEventListener('DOMContentLoaded', () => {
        //"선택 상품 삭제하기" 버튼 클릭
        const deleteButton = document.querySelector('button.right');
        deleteButton.addEventListener('click', () => {
          deleteCheckedItems();
        });
      });


      //basket객체 리터럴
      let basket = {
        totalCount: 0, //전체 갯수 변수
        totalPrice: 0, //전체 합계액 변수
        //재계산
        reCalc: function () {
          this.totalCount = 0;
          this.totalPrice = 0;

          document.querySelectorAll('input[type="number"]').forEach((item) => {
            let count = parseInt(item.value);
            this.totalCount += count;

            let price = parseInt(item.parentElement.nextElementSibling.firstElementChild.getAttribute('value'));
            this.totalPrice += count * price;
          }, this); //forEach 2번째 파라미터로 객체를 넘겨서 this가 객체 리터럴을 가리키도록 함.
        },

        //화면 업데이트
        updateUI: function () {
          //"총 주문 금액" 변수
          let orderPrice = this.totalPrice;
          document.querySelector('.order-price').textContent = `총 주문금액 ${orderPrice} + 총 배송비 3,000원 =`;
          orderPrice = orderPrice.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,'); //1000 단위에 콤마
          document.querySelector('.right').textContent = `총 결제금액 : ${orderPrice}원`;
        },



        //상품 삭제
        delItem: function () {
          event.target.parentElement.parentElement.parentElement.remove();
        }
      };
    </script>
    <%- include('./footer.ejs') %>

</html>