<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 탈퇴</title>
    <link rel="stylesheet" href="../css/deleteUser.css"></link>
    <link rel="stylesheet" href="../css/header.css"></link>
  </head>

  <body>
    <%- include ('./header02.ejs') %>
    <!-- 네비바 -->
    <nav>
        <div class="myProfileNav">
          <div class="myPage">마이페이지</div>
          <h1></h1>
          <ul class="list">
            <li>
              <a href="#" class="order">주문 내역</a>
            </li>
            <li>
              <a href="#" class="myInfo">개인 정보 수정</a>
            </li>
            <li>
              <a href="#" class="cart">장바구니</a>
            </li>
          </ul>
        </div>
    </nav>

    <!--개인정보탈퇴 폼-->
  </body>
</html>
