<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ν‘Έν„°</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <footer class="footer">
        <div>
            <h1 class="logo"><img src="/imgLogo.png" alt="logo"></h1>
            <div class="footer-message">Copyrigh 2023 Elice Track SW5 First Team PJ,. All β“’ rights reserved</div>
        </div>
    </footer>
</body>

</html>