<footer class="footer">
    <div class="footer-container">
        <div class="logo"><img src="/imgLogo.png" alt="logo"></div>
        <div class="footer-message">Copyrigh 2023 Elice Track SW5 First Team PJ,. All ⓒ rights reserved</div>
    </div>
</footer>