<!-- 헤더 -->
<header class="container">
  <div class="header">
    <h1 class="logo"><a href="#"><img src="/imgLogo.png" alt="logo"></a></h1>
    <div class="nav">
      <ul>
        <li><a href="#">프론트엔드</a></li>
        <li><a href="#">백엔드</a></li>
        <li><a href="#">CS지식</a></li>
      </ul>
    </div>
    <div class="join_logIn">
      <ul>
        <li><a href="#">로그인</a></li>
        <li>/</li>
        <li><a href="#">회원가입</a></li>
      </ul>
    </div>
  </div>
</header>