<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css"></link>
  </head>
  <body>
    <!-- <header></header> -->
    <main>
      <section class="notice-banner">
        <div>화살표</div>
        <div>
          광고 배너
          <div>배너1</div>
          <div>배너2</div>
          <div>배너3</div>
        </div>
        <div>화살표</div>
      </section>
      <section class="latest-books">
        <div class="latest-books__title"></div>
        <div class="latest-books__underline"></div>
        <div class="latest-books__content">
          <div class="latest-books__navigation-dot"></div>
        </div>
      </section>
      <!-- <footer></footer> -->
    </main>
  </body>
</html>
