<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"></link>
    <link rel="stylesheet" href="../css/header.css"></link>
    <link rel="stylesheet" href="../css/footer.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>

  <body>
    <%- include ('./header.ejs') %>
    <main>
      <!-- 배너 -->
      <section class="banner">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">1</div>
            <div class="swiper-slide">2</div>
            <div class="swiper-slide">3</div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </section>

      <!-- 최신 서적 -->
      <section class="latest-books">
        <div class="latest-books__title">제목</div>
        <div class="latest-books__content">
          <div class="books">
          <% for (let i = 0; i < 6; i++) { %>
            <div class="book">
              <div class="book__category">카테고리</div>
              <div class="book__content">
                <div class="book__img"><img src="" alt="이미지"/></div>
                <div class="book__info">
                  <div class="book__name">도서 명</div>
                  <div class="book__author">저자</div>
                  <div class="book__price">가격</div> 
                </div>
              </div>
            </div>
          <% } %>
          </div>    
          <div class="navi-dot">
            <% for (let i = 0; i < 3; i++) { %>
              <img src="./imgs/black dot.png"/>
            <% } %>  
          </div>
        </div>
      </section>
    </main>

    <script>
      const bannerContainer = document.querySelector('.banner-container__list');
      let bannerIndex=1;
      let isLeft =true;
      
      const movingLeft = () =>{
        if(isLeft){
          bannerContainer.style.transform=`translateX(${bannerIndex*-33}%)`
          bannerIndex+=1 
        }
        else{
          bannerIndex=1
          bannerContainer.style.transform=`translateX(${bannerIndex*-33}%)`
          isLeft=true;
        }
      };

      const movingRight = () =>{
        if(!isLeft){
          bannerContainer.style.transform=`translateX(${bannerIndex*+33}%)`
          bannerIndex+=1;
        }
        else{
          bannerIndex=1
          bannerContainer.style.transform=`translateX(${bannerIndex*+33}%)`
          bannerIndex+=1 
          isLeft=false;
        }
      };

      const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });

    </script>
  </body>

</html>