<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <%- include ('./header.ejs') %>
  <body>
    <form class="myProfileForm" action="/myProfile" method="put">
      <h2>테스트</h2>
    </form>
  </body>
  <%- include ('./footer.ejs') %>
</html>
