<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 네비게이션바</title>
  </head>
  <body>
    <nav>
      <div class="myProfileNav">
        <div class="myPage">마이페이지</div>
        <ul class="list">
          <li>
            <a class="order">"주문 조회"</a>
          </li>
          <li>
            <a class="myInfo">"개인 정보 수정"</a>
          </li>
          <li>
            <a class="cart">"장바구니"</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
