<!DOCTYPE html>
<html>

<head>
    <!-- type="text/css"  -->
    <link rel="stylesheet" href="/css/orderTest.css">
    <!-- <link rel="stylesheet" href="/css/order.css"> -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <%-include('header02.ejs') %>
        <div class="orderPageContainer">
            <h3>주 문 서</h3>
            <div class="orderBox">
                <!-- 주문상품정보  -->
                <div class="productInfo">
                    <h4> 주문 상품 정보</h4>
                    <div class="orderBookInfoBox">
                        <img class="orderBookCover" src="https://image.yes24.com/goods/92742567/XL" alt="책 사진">
                        <div class="orderBookInfo">
                            <div class="orderBookInfo_Category">{category}</div>
                            <div class="orderBookInfoTitle">{모던 자바스크립트 Deep Dive}</div>
                            <div class="orderBookInfoProductPrice">{개당 가격} 원</div>
                            <div class="orderBookInfoCount">총 {n} 권</div>
                            <div class="orderBookInfoDelivery">배송비 3,000원 </div>
                        </div>
                    </div>
                </div>
                <!-- 배송지/수령인 정보 -->
                <div class="orderUserInfo">
                    <h4> 배송지 / 수령인 정보</h4>
                    <div class="userInfoBox">
                        <div class=" userInfoList">
                            <div>배송받을 주소</div>
                            <div>주문자 이름</div>
                            <div>주문자 전화번호</div>
                        </div>
                        <div class=" userInfoPrint">
                            <div>{서버에 있는 userAdress 정보}</div>
                            <div>{서버에 있는 userName 정보}</div>
                            <div>{서버에 있는 userNumber 정보}</div>
                        </div>
                    </div>
                </div>
                <!-- /결제방법 & 총 결제 금액/ -->
                <!-- 결제방법 -->
                <div class="paymentTotalPriceTitle">
                    <div class="makePaymentBox">
                        <h4>결제방법</h4>
                    </div>
                    <!-- 총 결제금액 -->
                    <div class="totalPriceBox">
                        <h4>총 결제금액</h4>
                    </div>
                </div>
                <!-- // -->
            </div>
        </div>
        <%-include('footer.ejs') %>
</body>

</html>