<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/css/signUp.css"></link>
    <link rel="stylesheet" href="../css/header.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <%- include ('./header.ejs') %>
  <body>
    <header></header>
    <main>
      <section class="signUp">
        <div class="signUp-title">
          <h3>회원가입</h3>
          <div></div>
          <h5>회원가입을 하시면 더 많은 혜택을 제공 받으실 수 있습니다.</h5>
        </div>
        <form>
          <div class="content-user">
            <div>
              <label for="email">이메일 주소</label>
              <input id="email" type="text" value="" placeholder=" 이메일 주소를 입력하세요."/>
              <!-- <button >중복 확인</button> -->
            </div>
            <div>
              <label for="password">비밀번호 </label>
              <input id="password" type="password" value="" placeholder=" 비밀번호를 입력하세요."/>
            </div>
            <div>
              <label for="password-check">비밀번호 확인</label>
              <input id="password-check" type="password" value="" placeholder=" 비밀번호를 다시 입력하세요."/>
            </div>
            <div>
              <label for="name">이름</label>
              <input id="name" type="text" value="" placeholder=" 이름를 입력하세요."/>
            </div>
            <div>
              <label for="phone">연락처</label>
              <input id="phone" type="tel" value="" placeholder=" '-' 제외하고 입력하세요."/>
            </div>
          </div>
          <div class="content-address">
            <h4>주소지 정보</h4>
            <div>
              <label for="mainAddress">기본 주소</label>
              <input id="mainAddress" type="text" value="" placeholder=" 주소를 입력하세요."/>
            </div>
            <div>
              <label for="detailAddress">상세 주소</label>
              <input id="detailAddress" type="text" value="" placeholder=" 상세 주소를 입력하세요."/>
            </div>
          </div>
          <button>회원 가입</button>
        </form>
      </section>
    </main>
    <script>

      

      const form = document.querySelector("form");
      form.addEventListener('submit',(e)=>{
        e.preventDefault()

        const data ={
        email:form.email.value,
        password:form.password.value,
        name:form.name.value,
        phone:form.phone.value,
        address:form.mainAddress.value,
        detailAddress:form.detailAddress.value
        }

        console.log(data)

        axios({
        method: "post",
        url: "/user/signUp",
        data : data,
        }).then( (response) => {
        if(response.status == 200){
            console.log("success",response)
        }
        }).catch( (error) => {
          console.log('에러',error)
          if (error.response) {
            // 사용자가 메인에서 상품을 볼 수 있음.
            // 관리자 계정에서 상품 등록하면, 관리자 전체 페이지에서 있음. 
          const errorMessagesArray =error.response.data.errors
          errorMessagesArray.forEach(({msg,path}) => {

            const selectElement = () =>{
              return document.querySelector(`#${path}`)
            }

            const errorMessage = (element) =>{
              const errorMessage = document.createElement('span')
              errorMessage.textContent=msg;
              element.parentElement.appendChild(errorMessage)
              errorMessage.classList.add('error-msg')
              console.dir(element.parentElement)
            }
            
            path === 'email'? errorMessage(selectElement()):null
            path === 'password'? errorMessage(selectElement()):null
            path === 'name'? errorMessage(selectElement()):null
            path === 'phone'? errorMessage(selectElement()):null
            path === 'address'? errorMessage(selectElement()):null
          })  

            console.log('data',error.response.data.errors);
            console.log('status',error.response.status);
          } else if (error.request) {
            console.log('request',error.request);
          } else {
            console.log('Error', error.message);
          }
          console.log('config',error.config);
        })
      })




    </script>>
  </body>
</html>
