<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입 페이지</title>
  <link rel="stylesheet" href="/css/signUp.css">
  </link>
  <link rel="stylesheet" href="../css/header.css">
  </link>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body>
  <%- include ('./header.ejs') %>
    <main>
      <section class="signUp">
        <div class="signUp-title">
          <h3>회원가입</h3>
          <div></div>
          <h5>회원가입을 하시면 더 많은 혜택을 제공 받으실 수 있습니다.</h5>
        </div>
        <form>
          <div class="content-user">
            <div>
              <label for="email">이메일 주소</label>
              <input id="email" type="text" value="" placeholder=" 이메일 주소를 입력하세요." />
              <!-- <button >중복 확인</button> -->
            </div>
            <div>
              <label for="password">비밀번호 </label>
              <input id="password" type="password" value="" placeholder=" 비밀번호를 입력하세요." />
            </div>
            <div>
              <label for="password-check">비밀번호 확인</label>
              <input id="password-check" type="password" value="" placeholder=" 비밀번호를 다시 입력하세요." />
            </div>
            <div>
              <label for="name">이름</label>
              <input id="name" type="text" value="" placeholder=" 이름를 입력하세요." />
            </div>
            <div>
              <label for="phone">연락처</label>
              <input id="phone" type="tel" value="" placeholder=" '-' 제외하고 입력하세요." />
            </div>
          </div>
          <div class="content-address">
            <h4>주소지 정보</h4>
            <div>
              <label for="address">기본 주소</label>
              <input id="address" type="text" value="" placeholder=" 주소를 입력하세요." />
            </div>
            <div>
              <label for="detailAddress">상세 주소</label>
              <input id="detailAddress" type="text" value="" placeholder=" 상세 주소를 입력하세요." />
            </div>
          </div>
          <button>회원 가입</button>
        </form>
      </section>
    </main>
    <script>

      const form = document.querySelector("form");
      form.addEventListener('submit', async (e) => {
        e.preventDefault()
        const data = {
          email: form.email.value,
          password: form.password.value,
          name: form.name.value,
          phone: form.phone.value,
          address: form.address.value,
          detailAddress: form.detailAddress.value
        }

        //비밀번호 확인 여부는 front에서 검사합니다.
        const password = document.querySelector('#password')
        const passwordCheck = document.querySelector('#password-check')
        if (password.value !== passwordCheck.value) {
          alert('비밀번호 값이 일치하지 않습니다')
          return;
        }

        //axios 전 오류 메시지 reset
        const errorMsgs = document.querySelectorAll('span');
        await errorMsgs.forEach((errorMsg) => {
          errorMsg.remove();
        })

        //axios.post()
        await axios({
          method: "post",
          url: "/user/signUp",
          data: data,
        }).then((response) => {
          if (response.status == 200) {
            alert('회원가입이 완료되었습니다.')
            console.log("success", response)
            window.location.href = "/";
          }
        }).catch((error) => {

          if (error.response) {
            //error response에서 data 객체 내 errors 배열을 가져옵니다.
            const errorMessagesArray = error.response.data.errors
            errorMessagesArray.forEach(({ msg, path }) => {
              //path와 동일한 id 값을 가진 input 요소를 선택 및 반환합니다.
              const selectElement = () => {
                return document.querySelector(`#${path}`)
              }

              const errorMessage = (element) => {
                //span 태그를 생성하고 errors 배열 내 msg 속성을 textContent 값으로 할당합니다.
                const errorMessage = document.createElement('span')
                errorMessage.textContent = msg;
                // input 태그의 부모 태그(div 태그)에 append합니다.
                element.parentElement.appendChild(errorMessage)
                // span 태그에 error-msg 클래쓰를 추가합니다. 이 때 address의 경우 별도 클래쓰를 추가합니다.
                if (element.id === 'address') {
                  errorMessage.classList.add('address-error-msg')
                }
                else {
                  errorMessage.classList.add('error-msg')
                }
              }

              //email 오류시 response 되는 message 중 'Invalid value' 제외하였습니다.
              if (path === 'email') {
                if (msg !== 'Invalid value') {
                  errorMessage(selectElement())
                }
              }

              // password, name, phone, address 오류시 아래 붉은 색 error 메시지가 표기됩니다.
              path === 'password' ? errorMessage(selectElement()) : null
              path === 'name' ? errorMessage(selectElement()) : null
              path === 'phone' ? errorMessage(selectElement()) : null
              path === 'address' ? errorMessage(selectElement()) : null
            })

          } else if (error.request) {
            console.log('request', error.request);
          } else {
            console.log('Error', error.message);
          }
          console.log('config', error.config);
        })
      }
      )
    </script>>
</body>

</html>