main {
  font-family: "NanumSquareNeo-Variable";
  margin: 0 140px;
  padding-top: 140px;
  width: 80%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

.banner {
  width: 90%;
  height: 20%;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}

.swiper-button-prev::after {
  position: absolute;
  left: -60px;
  color: #adadad;
}

.swiper-button-next::after {
  color: #adadad;
  position: absolute;
  right: -60px;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide.first {
  background-image: url("/imgs/banner01.png");
}

.swiper-slide.second {
  background-image: url("/imgs/banner02.png");
}

.swiper-slide.third {
  background-image: url("/imgs/banner03.png");
}

.latest-books {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.latest-books > h1 {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #adadad;
}

.books {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(3, 1fr);
  gap: 8% 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.book {
  width: 300px;
  height: 90%;
  display: flex;
  justify-content: center;
  outline: 2px solid #547f5b;
  border-radius: 10px;
  position: relative;
}

.book > h4 {
  position: absolute;
  left: 0px;
  top: -30px;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.book-img {
  width: 100%;
  height: 70%;
  background-image: url("/imgs/banner01.png");
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
}
