.swiper {
  width: 100%;
  height: 400px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 140px;
  width: cal(1730-280) px;
  height: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 140px;
  background-color: aqua;
}

.banner {
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.latest-books {
  background-color: yellow;
  width: 1730px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-books__content {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1480px;
  height: 1000px;
}

.books {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: green;
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.books .book {
  background-color: azure;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
  border: 1px solid black;
  position: relative;
}

.book .book__category {
  position: absolute;
  left: 0px;
  top: -30px;
}

.book .book__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
}

.book .book__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 40%;
}

.navi-dot {
  background-color: yellow;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navi-dot img {
  margin: 0 10px;
}
