@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.orderPageContainer {
    font-family: 'NanumSquareNeo-Variable';
    margin: auto;
    width: 65%;
    min-height: 100%;
    padding-top: 220px;
}

.orderPageContainer h3 {

    padding-bottom: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
}

.orderPageContainer .orderBox {
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

/* ------------주문상품정보------------ */
.orderPageContainer .orderBox .productInfo h4 {
    width: auto;
    padding-left: 10px;

    /* border-bottom: 0.7px solid #5c5c5c99; */
    font-size: 25px;
    font-weight: 900;
}

.productInfo .orderBookInfoBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 30px;
    margin: 20px 0px 20px 0px;
    border-top: 0.7px solid #5c5c5c99;
}

/* 주문상품정보 - 책표지 */
.productInfo .orderBookInfoBox .orderBookCover {
    width: 310px;
    height: 450px;
    border-radius: 20px;
    border: solid 1px #cecece99;
    margin: 20px 30px 20px 10px;
}

/* 주문상품정보 - 카테고리 */
.productInfo .orderBookInfo_Category {
    margin: 55px 0px 15px 0px;
    border-radius: 60px;
    width: 160px;
    line-height: 55px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    background-color: rgb(135, 222, 173);

}


/* 주문상품정보 - 책제목 */
.productInfo .orderBookInfoTitle {
    width: 1035px;
    font-size: 30px;
    margin: 25px 0px 30px 0px;
}

/* 주문상품정보 - 책 금액 */
.productInfo .orderBookInfoProductPrice {
    font-size: 35px;
    font-weight: 900;
    margin: 5px 0px 20px 0px;
}

/* 주문상품정보 - 원래책가격 X 주문수량 */
.productInfo .orderBookInfoCount {
    font-size: 25px;
    color: #547F5B;
    margin: 5px 0px 30px 0px;
    font-weight: 900;
}

/* 주문상품정보 - 배송비 */
.productInfo .orderBookInfoDelivery {
    font-size: 25px;
    margin: 5px 0px 10px 0px;
}



/* ------------------------------------------------- */

/* 배송지 & 수령인 정보 */

/* 배송지 & 수령인 정보 타이틀 */
.orderUserInfo>h4 {
    width: auto;
    padding-left: 10px;
    padding-top: 100px;
    font-size: 25px;
    font-weight: 900;
}

.orderPageContainer .orderBox .orderUserInfo .userInfoBox {
    /* background-color: rgb(113, 82, 125); */
    border-top: 0.7px solid #5c5c5c99;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    margin: 20px 0px 50px 0px;
    height: 300px;
}

/* 배송주소,주문자이름,전화번호 고정 항목란 */
.userInfoList>div {
    /* background-color: chocolate; */
    margin: 60px 0px 40px 0px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    width: 340px;

}

/* 배송주소,주문자이름,전화번호 서버값 출력란 */
.userInfoPrint>div {
    /* background-color: rgb(195, 166, 145); */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
    width: 1035px;
    margin: 60px 0px 40px 0px;
}





/* 결제방법 & 총 결제 금액 */
.orderPageContainer .orderBox .makePaymentAndTotalPrice {
    height: auto;
    display: flex;
    justify-content: row;
    flex-direction: row;
    /* background-color: darkorange; */
}

.orderPageContainer .orderBox .makePaymentAndTotalPrice h4 {
    width: auto;
    padding-left: 10px;
    padding-top: 100px;
    font-size: 25px;
    font-weight: 900;
}

/* 결제방법 */
.makePaymentAndTotalPrice .makePaymentBox {
    display: flex;
    width: 700px;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: rgb(255, 236, 215); */
}

.makePaymentAndTotalPrice .makePaymentBox .makePayments {
    display: flex;
    width: 700px;
    justify-content: flex-start;
    flex-direction: column;
    height: 520px;
    border-top: 0.7px solid #5c5c5c99;
    margin: 20px 0px 50px 0px;
    /* background-color: rgb(212, 255, 249); */

}

.makePaymentAndTotalPrice .makePaymentBox .makePayments a {
    margin: 40px 0px;
    text-decoration: none;
}

.makePaymentAndTotalPrice .makePaymentBox .makePayments div {
    /* margin: 60px 20px 0px 10px; */
    line-height: 115px;
    text-align: center;
    background-color: #EFEFEF;
    border-radius: 10px;
    font-size: 20px;
}

/* 총 결제금액 */
.makePaymentAndTotalPrice .totalPriceBox {
    display: flex;
    width: 700px;
    font-size: 20px;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: rgb(245, 197, 197); */
}

.makePaymentAndTotalPrice .totalPriceBox .totalPaymentInfo {
    display: flex;
    width: 700px;
    justify-content: flex-start;
    flex-direction: column;
    border-top: 0.7px solid #5c5c5c99;
    margin: 20px 0px 50px 0px;
    /* background-color: rgb(252, 154, 154); */

}

.makePaymentAndTotalPrice .totalPriceBox .totalPaymentInfo .totalPriceBox01 {
    margin: 40px 20px 0px 10px;
    height: 510px;
    text-align: center;
    background-color: #EFEFEF;
    border-radius: 10px;
    font-size: 20px;
}



.makePaymentAndTotalPrice .totalPriceBox .totalPaymentInfo .totalPriceBox02 {
    margin: 15px 20px 0px 10px;
    line-height: 30px;
    text-align: center;
    font-size: 19px;
}



.makePaymentAndTotalPrice .totalPriceBox .totalPaymentInfo .totalPriceBox03 {
    margin: 10px 20px 0px 10px;
    line-height: 115px;
    text-align: center;
    background-color: #547F5B;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    color: #EFEFEF;

}

.makePaymentAndTotalPrice .totalPriceBox .totalPaymentInfo .totalPriceBox03 a {
    text-decoration: none;

}