@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------- */
.orderContainer {
    width: 70%;
    font-family: 'NanumSquareNeo-Variable';
    min-height: 100%;
    margin: auto;
    padding-top: 260px;
    background-color: rgb(162, 129, 129);
}

.orderContainer .orderText h3 {
    text-align: center;
    font-size: 30px;
}

.orderContainer .orderInfo {
    text-align: left;
    font-size: 20px;
}