* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.loginForm {
  font-family: "NanumSquareNeo-Variable";
  position: fixed;
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid #adadad;
}

.loginForm h2 {
  text-align: center;
  margin: 30px;
  font-size: 15px;
}

.loginForm h6 {
  border-bottom: 1px solid #adadad;
  margin: 0 30px;
}

.loginForm h5 {
  text-align: center;
  margin: 20px 0 50px 0;
  font-weight: normal;
  font-size: 8px;
}

.login-id {
  margin: 20px;
  padding: 10px 20px;
  display: flex;
}

.login-pw {
  margin: 20px;
  padding: 10px 20px;
  display: flex;
}

.saved-login {
  font-size: 5px;
  color: #636e72;
  margin: 20px 35px;
  display: flex;
}

.check {
  margin: 0 10px;
  display: flex;
}

.id {
  font-family: "NanumSquareNeo-Variable";
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 8px;
  height: 25px;
  background: none;
  border-bottom: 2px solid;
  margin: 0 15px;
}

.pw {
  font-family: "NanumSquareNeo-Variable";
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 8px;
  height: 25px;
  background: none;
  border-bottom: 2px solid;
  margin: 0 15px;
}

.login-btn {
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  left: 30%;
  transform: translateX(-50%);
  margin: 20px;
  width: 60%;
  height: 40px;
  background: #547f5b;
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 12px;
  display: inline;
}

.signup-btn {
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  left: 30%;
  transform: translateX(-50%);
  margin: 0 20px;
  width: 60%;
  height: 40px;
  background: white;
  background-position: left;
  background-size: 200%;
  color: #547f5b;
  font-weight: bold;
  border-width: 1px;
  border-color: #547f5b;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 12px;
  display: inline;
}

.btn:hover {
  background-position: right;
}

.bottomText {
  margin: 20px 30px 30px 30px;
  text-align: left;
}
