header {
  background-color: aqua;
  width: 1730px;
  height: 190px;
}

footer {
  background-color: blueviolet;
  width: 1730px;
  height: 140px;
}

main {
  background-color: blanchedalmond;
  width: 1730px;
  height: 2310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 900px;
  height: 1490px;
  background-color: green;
}

.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signUp__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.signUp form {
  height: 1200px;
  width: 90%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form .content-user {
  background-color: aqua;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form .content-user > div {
  width: 80%;
  background-color: blueviolet;
  margin: auto 0;
  display: flex;
  justify-content: space-around;
}

form .content-address {
  background-color: aliceblue;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form .content-address > div {
  width: 80%;
  background-color: blueviolet;
  display: flex;
  justify-content: space-around;
}

form submit {
  background-color: yellow;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
