* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
}

section {
  font-family: "NanumSquareNeo-Variable";
  border-radius: 20px;
  border: 1px solid #adadad;
  position: absolute;
  top: 150px;
  width: 600px;
  height: 700px;
}

.signUp {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.signUp-title {
  margin: 20px 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.signUp-title div {
  width: 80%;
  margin: 20px 0;
  border-bottom: 1px solid #adadad;
}

.signUp-title h5 {
  font-size: 10px;
}

.signUp form {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form .content-user {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

form .content-user > div {
  width: 90%;
  margin: auto auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

form .content-user > div > label {
  width: 120px;
}

input {
  width: 220px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #636e72;
  box-sizing: border-box;
}

input:focus {
  font-size: 15px;
  transition: 0.2s;
  padding: 5px;
  position: relative;
  bottom: 8px;
  outline: 1px solid #547f5b;
  border-radius: 2px;

  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

/* form .content-user > div > button {
  right: -50px;
  top: -5px;
  position: absolute;
  padding: 5px 20px;
  color: white;
  background: #547f5b;
  font-weight: lighter;
  font-family: "NanumSquareNeo-Variable";
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
} */

form .content-address {
  width: 80%;
  height: 40%;
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
}

form .content-address > div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

form .content-address > h4 {
  position: absolute;
  width: 90%;
  top: 15px;
  left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}

form .content-address > div > label {
  width: 120px;
}

form > button {
  background-color: #547f5b;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  font-size: 12px;
}

.error-msg {
  position: absolute;
  left: 120px;
  bottom: -16px;
  font-size: 8px;
  color: red;
}

.address-error-msg {
  position: absolute;
  left: 142px;
  bottom: 70px;
  font-size: 8px;
  color: red;
}
