main {
  background-color: blanchedalmond;
  width: 1730px;
  height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.notice-banner {
  background-color: blue;
  width: 1600px;
  height: 650px;
}

.latest-books {
  background-color: yellow;
  width: 1600px;
  height: 900px;
}
